html {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Press Start 2P', cursive;
  height: 100vh;
}

.wrapper {
  height: 100vh;
  /* This part is important for centering the content */
  display: flex;
  align-items: center;
  justify-content: center;
  /* End center */
  flex-direction: column;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 35rem;
  height: 35rem;
  border: solid black;
  background-color: black;
}

.grid div {
  width: 1.25rem;
  height: 1.25rem;
}

h3 {
  color: #fafafa;
}

.pac-dot {
  background-color: gold;
  border: 0.56rem solid black;
  box-sizing: border-box;
  border-radius: 0.62rem;
}

.wall {
  background-color: black;
  border: 0.06rem solid darkblue;
  box-sizing: border-box;
}

.power-pellet {
  background-color: darkgreen;
  border-radius: 0.62rem;
}

.blinky {
  background-color: #bc0000;
  border: 0;
}

.pinky {
  background-color: #e598a5;
  border: 0;
}

.inky {
  background-color: #00dddd;
  border: 0;
}

.clyde {
  background-color: #e79600;
  border: 0;
}

.scared-ghost {
  background-color: #00e598;
  border: 0;
}

.pac-man {
  background-color: gold;
  border-radius: 50%;
  border: none;
  clip-path: polygon(
    0 0,
    20px 0,
    20px -5px,
    8px 10px,
    20px 25px,
    20px 20px,
    0 20px
  );
  animation: chew 0.2s linear forwards infinite;
}

@keyframes chew {
  50% {
    clip-path: polygon(
      0 0,
      20px 0,
      20px 10px,
      8px 10px,
      20px 10px,
      20px 20px,
      0 20px
    );
  }
}
