html {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Press Start 2P', cursive;
  height: 100vh;
}

.wrapper {
  height: 100vh;
  /* This part is important for centering the content */
  display: flex;
  align-items: center;
  justify-content: center;
  /* End center */
  flex-direction: column;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 35rem;
  height: 35rem;
  border: solid black;
  background-color: black;
}

.grid div {
  width: 1.25rem;
  height: 1.25rem;
}

h3 {
  color: #fafafa;
}

.pac-dot {
  background-color: darkgrey;
  border: 5px solid black;
  box-sizing: border-box;
}

.wall {
  background-color: darkblue;
}

.power-pellet {
  background-color: darkgreen;
  border-radius: 10px;
}

.pac-man {
  background-color: gold;
  border-radius: 10px;
}

.ghost-lair {
  background-color: black;
  /* border: 5px solid #fafafa; */
}
